
#container3 {
      display: flex;
}
#cardContainer{
  padding: 1px;
}
.card3 {
      display: flex;
      background-color: grey;
      padding: 15px;
      margin: 5px 0 15px 0;
      border-radius: 8px;
}
.desc3 {
      padding-left: 15px;
}
#startPage {
      display: block;
      background-color: beige;
}
#startContainer {
      background-color: black;
}
#questionsPage {
      display: none;
}
#resultsPage {
      display: none;
}