.text-center {
    text-align: center;

}

.header {
    background-color: bl;
    font-size: x-large;
}

.h2 {
    background-color: black;
    color: white;
    margin: 200px;
    border: 5px solid;
    border-color: white;
    border-radius: 5px;
    border-width: 10px;
    font-size: xx-large;
    
}

.button {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: larger;
    background-color: white;
    color: white;
    margin: 100px;
    text-align: center;

}

.display {
    
}




